<div class="row my-3">
<% @cakes.each do |elem| %>
    <div class="col-md-4 my-1">
        <div class="card">
        <img class="card-img-top" src="<%= elem.src %>" alt="Card image cap" />
        <div class="card-body">
            <h5 class="card-title"><%= elem.name %></h5>
            <p class="card-text"><%= elem.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%=elem.price %></li>
        </ul>
        </div>
    </div>
<% end %>
</div>
      
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img_modal">
      <div id="caption"></div>
    </div>

    <script src="main.js"></script>
    </body>
