<link rel="stylesheet" href="main.css">
<div id="bg">
  <img class="d-block w-100" id="bg-photo-page" src="bakery1.jpg"</img>
</div>

  <input id="icon" type="image" src="envelope.png" />
  <h3 id="req">request full catalog</h3>
  <form id="form" action="/cookie_order" method="post">
    <input type="email" name="email" value=""></input>
    <input id="send" type="submit" name="" value="send"></input>
  </form>
</nav>
<div class="container" id="container">
  <div class="row">

  </div>
</div>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
<div class="row my-3">
  <% @cookies.each do |elem| %>
    <div class="col-md-4 my-1">
        <div class="card">
        <img class="card-img-top" src="<%= elem.src %>" alt="Card image cap" />
        <div class="card-body">
            <h5 class="card-title"><%= elem.name %></h5>
            <p class="card-text"><%= elem.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%=elem.price %></li>
        </ul>
        </div>
    </div>
  <% end %>
</div>


<div class="container">
    <div class="row">

      <div class="col-sm">
        <h3>Red Velvet CheeseCake </h3>
        <div class="card" style="width: 18rem;" id='card-kadabra'>
            <ul ng-controller="GalleryCtrl">
                <li ng-repeat="image in images">
                  <a ng-click="openLightboxModal($index)">
                     <img ng-src="{{/photos/cakes/Redvelvet.jpeg}}" class="img-thumbnail">
                  </a>
                </li>
              </ul>
          <img class="card-img-top" src="/photos/cakes/Redvelvet.jpeg " alt="Card image cap" id="img01">
          <div class="card-body"> 
            <div class="card-title"></div>
            <p class="card-text">   </p>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <h3>Blueberry Cake</h3>
        <div class="card" style="width: 18rem;" id='card-tangela'>
            <ul ng-controller="GalleryCtrl">
                <li ng-repeat="image in images">
                  <a ng-click="openLightboxModal($index)">
                    <img ng-src="{{/photos/cakes/blueberycake.jpeg}}" class="img-thumbnail">
                  </a>
                </li>
              </ul>
          <img class="card-img-top" src="/photos/cakes/blueberycake.jpeg" alt="Card image cap" id="img02">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>    
        </div>
      </div>

      <div class="col-sm">
        <h3>Lemon Cake</h3>
        <div class="card" style="width: 18rem;" id='card-emboar'>
         <ul ng-controller="GalleryCtrl">
                <li ng-repeat="image in images">
                  <a ng-click="openLightboxModal($index)">
                    <img ng-src="{{/photos/cakes/blueberycake.jpeg}}" class="img-thumbnail">
                    </a>
                </li>
              </ul>
          <img class="card-img-top" src="/photos/cakes/lemon.jpeg" alt="Card image cap" id="img03">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>

    </div>
<script src="main.js"></script>

    <!-- The Modal enabling it to close  -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img_modal">
      <div id="caption"></div>
    </div>



<script src="main.js"></script>
