<div id="bg">
  <img class="d-block w-100" id="bg-photo" src="background.jpg"</img>
</div>
<div id="grid">
  <div id="blurb">
  <form>
    <form>
      <div> <h3>Please Enter a Your Name:</h3></div>
      <input type="text" id="input_id" value="">
      <input type="button" value="Submit" onclick="trainer()" />
      <div id="alert" style="color:white"></div>
    </form>
  </form>
  
    <h2>Jane's Bakery</h2>
    <p>Jane's Bakery: You can order and pay at the your own pace.</p>
  </div>
  
  </div>
</div>

